title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[showcases]
showcasesPerPage = 3
[blogPosts]
pageNumber = 1
postsPerPage = 3
noPostsMessage = "Geen nieuwsberichten"
sortOrder = "published_at desc"
postPage = "nieuws/post"
==
<div id="page-intro" class="section section-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img class="side-img" src="{{ 'assets/svg/inschrijven_links.svg'|theme }}">
            </div>
            <div class="col-md-4 col-xs-12">
                <img class="intro-logo" src="{{ 'assets/svg/A4G.svg'|theme }}"><br>
                <h1 style="font-size: 2.5em">APPS<font class="light">FOR</font>GHENT</h1>
            </div>
            <div class="col-md-4 hidden-xs">
                <img class="side-img" src="{{ 'assets/svg/inschrijven_rechts.svg'|theme }}">
            </div>
        </div>

    </div>
</div>

<div id="site-info">
    <div class="section section-blue">
        <hr class="hr-white" />
        <div class="container text-center">
            <h3>
                Apps For Ghent wil Gentse bedrijven en organisaties over de streep trekken om bij de beleidskeuze tussen ontsluiten van data of verkopen van data onder gesloten licentie te kiezen voor open data.
            </h3>
            <br>
            <a href="{{ 'hackathon'|page }}" class="chip chip-light-blue">MEER INFORMATIE</a>
        </div>
    </div>
    
    <div class="section section-light">
        <hr class="hr-blue" />
        <div class="container">
            <h2 class="text-center">&lt;NIEUWS/&gt;</h2>
            <div class="row info-cards">
                {% for id, post in posts %}
                <div class="col-sm-4 col-xs-12">
                    <div class="card-white card-image">
                        <div class="news-post-image">
                            {% if post.featured_images.count %}
                                <a class="overlay" href="{{ 'blog'|page({ slug: post.slug }) }}" style="background-image: url('{{ post.featured_images[0].path }}')"></a>            
                            {% else %}     
                                <a class="overlay" href="{{ 'blog'|page({ slug: post.slug }) }}" style="background-image: url('{{ 'assets/png/og_logo.png'|theme }}')"></a>
                            {% endif %}
                        </div>
                        <h4><a href="{{ 'blog'|page({ slug: post.slug }) }}">{{ post.title|raw }}</a></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="view-more">
                <span class="light pull-right"><a href="{{ 'nieuws'|page }}">Alles weergeven &gt;</a></span>
            </div>
            
            <h2 class="text-center">&lt;SHOWCASES/&gt;</h2>
            <div class="row info-cards">
                {% component 'showcases' %}
            </div>
            
            <div class="view-more">
                <span class="light pull-right"><a href="{{ 'showcases'|page }}">Alles weergeven &gt;</a></span>
            </div>
            
        </div>
    </div>
</div>

<div class="section section-white" id="hackathon-section">
    <hr class="hr-light" />
    <div class="container text-center">
        <img class="intro-logo" src="{{ 'assets/svg/mapps_logo.svg'|theme }}">
        <h1>#MAPPSFORGHENT</h1>
        <h2>'t is wa de mapps maat...</h2>
        <span class="chip chip-red light">Zaterdag 19 maart 2016</span>
        <span class="chip chip-blue light">GENT</span>
    </div>
</div>

<div class="section section-light">
    <hr class="hr-white" />
    <div class="container card-data-rows">
        <h2 class="text-center">&lt;OPEN DATA LIBRARY/&gt;</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="card-white card-featured">   
                    <span class="data-type">&lt;/&gt;</span>
                    <span class="data-name">Dataset</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="card-white">   
                            <span class="data-type">&lt;/&gt;</span>
                            <span class="data-name">Dataset</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card-white">   
                            <span class="data-type">&lt;/&gt;</span>
                            <span class="data-name">Dataset</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="card-white">   
                            <span class="data-type">&lt;/&gt;</span>
                            <span class="data-name">Dataset</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card-white">   
                            <span class="data-type">&lt;/&gt;</span>
                            <span class="data-name">Dataset</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="card-white">   
                    <span class="data-type">&lt;/&gt;</span>
                    <span class="data-name">Dataset</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="card-white">   
                    <span class="data-type">&lt;/&gt;</span>
                    <span class="data-name">Dataset</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="card-white">   
                    <span class="data-type">&lt;/&gt;</span>
                    <span class="data-name">Dataset</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="card-white">   
                    <span class="data-type">&lt;/&gt;</span>
                    <span class="data-name">Dataset</span>
                </div>
            </div>
        </div>
    </div>
</div>
