==
<div id="hamburger-menu">
    <a id="quit" href=""><img src="{{ 'assets/images/cross.png'|theme }}" alt="quit"></a>
    <ul>
        <li><a href="{{ 'home'|page }}">home</a></li>
        <li><a href="{{ 'programme'|page }}">programme</a></li>
        <li><a href="{{ 'speakers'|page }}">speakers</a></li>
        <li><a href="{{ 'blog'|page }}">blog</a></li>
        <li><a href="{{ 'partners'|page }}">partners</a></li>
        <li><a href="{{ 'about'|page }}">about</a></li>
        <li><a href="https://openbelgium16.eventbrite.nl">get tickets</a></li>
    </ul>
</div>