description = "Hero of other pages"
==
<nav class="navbar visible-xs-block">
    <div class="nav-container">
        <span class="logo-top"><img src="{{ 'assets/svg/logo.svg'|theme }}"></span>
        <span class="pull-right nav-toggle">
            <a href="#" id="nav-toggle"><i class="fa fa-bars fa-3x"></i></a>
        </span>
        <div class="nav-mobile-links">
            <a href="#site-intro" class="active">Home</a>
            <a href="#site-info">Info</a>
            <a href="#site-media">Media</a>
            <a href="#site-programme">Programma</a>
            <a href="#site-register" class="nav-button">Inschrijven</a>
        </div>
    </div>
</nav>
<nav class="navbar-fixed-top hidden-xs">
    <div class="nav-container">
        <span class="logo-top"><img src="{{ 'assets/svg/logo.svg'|theme }}"></span>
        <span class="pull-right nav-links">
            <a href="#site-intro" class="active">Home</a>
            <a href="#site-info">Info</a>
            <a href="#site-media">Media</a>
            <a href="#site-programme">Programma</a>
            <a href="#site-register" class="nav-button">Inschrijven</a>
        </span>
    </div>
</nav>