description = "Hero of the homepage"
==
function onStart()
{
   $page_title = $this['page_title'];
   $page_subtitle = $this['page_subtitle'];
   $header_bg = $this['header_bg'];
}
==
<nav class="navbar visible-xs-block">
    <div class="nav-container">
        <span class="logo-top"><img src="{{ 'assets/svg/logo.svg'|theme }}"></span>
        <span class="pull-right nav-toggle">
            <a href="#" id="nav-toggle"><i class="fa fa-bars fa-3x"></i></a>
        </span>
        <div class="nav-mobile-links">
            <a href="{{ 'home'|page }}"      class="{{ this.page.title == 'Home' ? 'active' : '' }}">Home</a>
            <a href="{{ 'about'|page }}"     class="{{ this.page.title == 'About' ? 'active' : '' }}">About</a>
            <a href="{{ 'nieuws'|page }}"    class="{{ this.page.title == 'Nieuws' ? 'active' : '' }}">Nieuws</a>
            <a href="{{ 'showcases'|page }}" class="{{ this.page.title == 'Showcases' ? 'active' : '' }}">Showcases</a>
            <a href="{{ 'hackathon'|page }}" class="{{ this.page.title == 'Hackathon' ? 'active' : '' }}">Hackathon</a>
            <a href="{{ 'library'|page }}"   class="{{ this.page.title == 'Library' ? 'active' : '' }}">Library</a>
        </div>
    </div>
</nav>
<nav class="navbar-fixed-top hidden-xs">
    <div class="nav-container">
        <span class="logo-top hidden-sm"><img src="{{ 'assets/svg/logo.svg'|theme }}"></span>
        <span class="logo-top-sm visible-sm-inline"><img src="{{ 'assets/svg/A4G.svg'|theme }}"></span>
        <span class="pull-right nav-links">
            <a href="{{ 'home'|page }}"      class="{{ this.page.title == 'Home' ? 'active' : '' }}">Home</a>
            <a href="{{ 'about'|page }}"     class="{{ this.page.title == 'About' ? 'active' : '' }}">About</a>
            <a href="{{ 'nieuws'|page }}"    class="{{ this.page.title == 'Nieuws' ? 'active' : '' }}">Nieuws</a>
            <a href="{{ 'showcases'|page }}" class="{{ this.page.title == 'Showcases' ? 'active' : '' }}">Showcases</a>
            <a href="{{ 'hackathon'|page }}" class="{{ this.page.title == 'Hackathon' ? 'active' : '' }}">Hackathon</a>
            <a href="{{ 'library'|page }}"   class="{{ this.page.title == 'Library' ? 'active' : '' }}">Library</a>
        </span>
    </div>
</nav>
{% if page_title %}
<div id="page-intro" class="section section-white bg-container" {% if header_bg %}style="background-image: url('{{ header_bg|theme }}')"{% endif %}>
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>&lt;{{ page_title }}/&gt;</h1>
                    </div>
                </div>
                {% if page_subtitle %}
                <div class="row">
                    <div class="col-xs-11 col-sm-6 col-md-3">
                        <h3>{{ page_subtitle }}</h3>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}