==
<div class="section section-blue">
    <hr class="{{ this.page.title == 'Hackathon' ? 'hr-dark' : this.page.title == 'About' ? 'hr-white' : 'hr-light' }}" />
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h3><img src="{{ 'assets/svg/enveloppe.svg'|theme }}" class="mail-icon"> SCHRIJF JE IN OP ONZE NIEUWSBRIEF</h3>
            </div>
            <div class="col-lg-6 col-xs-12">
                <form class="subscribe-form">
                    <input type="email" placeholder="E-mail adres" class="required"><input type="submit" value="STUUR">
                </form>
            </div>
        </div>
    </div>
</div>